@charset "utf-8";

/* 共通設定 */

html {
  font-size: 100%;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  color: #333333;
  font-family: "Noto Sans JP";
}
a {
  color: #333333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.section-title {
  font-size: 40px;
  padding-bottom: 50px;
}
.wrapper {
  padding: 200px 0 200px 0;
  text-align: center;
}

/*フェード表示用*/

.fade-in {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* header */

#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}
#header h1 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  letter-spacing: 10px;
}

/*ハンバーガーメニュー*/

#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #fff;
}
.open #navi {
  left: 0;
  opacity: 1;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}
#navi ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}
.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 100px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/* main */

/* point */

#main {
  padding-top: 60px;
  /* background-color: #333; */
}
#main image {
  width: 100%;
}
#point p {
  font-size: 20px;
  line-height: 40px;
}
.point-bg {
  background-image: url(image/IMG_0327.jpeg);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

/* about me */
#aboutme {
  margin: 0 auto;
}
#aboutme .profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutme img {
  margin: 40px;
  width: 360px;
  height: 360px;
  border-radius: 50%;
}
.text-content {
  text-align: left;
}
.text {
  padding-top: 40px;
}
.text p {
  line-height: 35px;
}
.about-title {
  font-size: 28px;
  padding: 40px 0 10px 0;
}
.about-bg {
  background-image: url(image/IMG_1359.JPG);
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

/* works */

#works {
  margin: 0 auto;
}
#works h3 {
  line-height: 45px;
}
#works ul {
  display: flex;
  justify-content: space-between;
}
#works li {
  width: 46%;
}
.works-list {
  padding: 80px 30px 0 30px;
}
.works-list h3 {
  font-size: 28px;
}
.works-bg {
  background-image: url(image/IMG_0880.JPG);
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

/* skill */

#skill p {
  line-height: 40px;
}
.skill-wrapper img {
  height: 60px;
  width: 60px;
  margin-top: 30px;
}
.skill-wrapper h3 {
  font-size: 24px;
  padding: 80px 0 50px 0;
}
.skill-wrapper h4 {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
.skill-wrapper p {
  line-height: 32px;
}
.skill-wrapper ul {
  display: flex;
  justify-content: space-between;
}
.skill-wrapper li {
  width: 28%;
  background-color: aliceblue;
  margin: 0 50px 0 50px;
  padding: 10px;
}
.skill-bg {
  background-image: url(image/IMG_4027.jpeg);
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contact */

#contact h3 {
  padding-bottom: 40px;
}
#contact dt, dd {
  font-size: 20px;
}
#contact .contact-form textarea, input {
  width: 50%;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}
#contact .contact-form textarea:hover, input:hover {
  background-color: antiquewhite;
}
#contact .contact-form .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
  padding: 20px 0;
  margin-bottom: 0;
}
#contact .contact-form .button input:hover {
  color: #fff;
  background-color: #5c5c5c;
}
.contact-bg {
  background-image: url(image/IMG_1206.JPG);
  background-color:rgba(255,255,255,0.6);
  background-position: center;
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer */

#footer {
  text-align: center;
  padding: 30px;
  font-size: 0.75rem;
}

/* スマホ版 */

@media screen and (max-width: 600px) {

  .section-title {
    font-size: 30px;
    padding-bottom: 40px;
  }
  .wrapper {
    padding: 100px 0 100px 0;
  }

  /* header */

  .toggle_btn {
    right: 30px;
  }

  /* point */

  #point p {
    font-size: 16px;
  }

  /* aboutme */

  #aboutme .profile {
    display: block;
  }

  /* works */

  #works h3 {
    font-size: 16px;
  }
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
    margin-bottom: 60px;
  }
  /* skill */

  #skill ul {
    flex-direction: column;
  }
  #skill li {
    width: 80%;
    margin-bottom: 60px;
  }
  
}